
@use "colors";
@use "components/key-value-table";
@use "fonts";
@use "layouts";
@use "keyframes";

* {
	padding: 0px;
	margin: 0px;
	font-family: "Avenir";
}

body, html, #root, .grid {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

button {
	cursor: pointer;
}
