
@use "../colors";

.key-value-table {
	display: grid;
	grid-template-columns: fit-content(50px) 3fr 3fr fit-content(50px);
	align-items: center;
	background-color: colors.$br-grey;
	grid-gap: 1px;
	border-bottom-style: solid;
	border-color: colors.$br-grey;
	border-width: 1px;
	overflow-y: scroll;
}

.key-value-table .title {
	grid-column: 1 / -1;
	font-size: 0.85rem;
	font-family: "Avenir Light";
	padding: 10px;
	background-color: white;
}

.key-value-table .table-header {
	font-size: 0.75rem;
	background-color: white;
	padding-left: 5px;
	font-family: "Avenir Heavy";
	display: flex;
	align-items: center;
	height: 100%;
}

.key-value-table .checkbox {
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.key-value-table .key, .key-value-table .value {
	font-size: 0.8rem;
	font-family: "Avenir Light";
	background-color: white;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 5px;
	border-style: none;
	outline: none;
}

.key-value-table button {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: none;
	padding: 10px;
	cursor: pointer;
}